/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #00000070;
    background-alt: #000000FF;
    foreground:     #FFFFFFFF;
    selected:       #FF0000FF;
    active:         #98C379FF;
    urgent:         #FF0000FF;
}
